Write-CSV.json
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32699c2b-a7be-36fd-a41b-c031bf8a3abe",
            "id" : "baf09cfa-9bb0-3d13-a545-8e8ebf17f707",
            "instanceIdentifier" : "2a6f5c34-0190-1000-30f6-7fcecd77060d",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32699c2b-a7be-36fd-a41b-c031bf8a3abe",
          "identifier" : "741438d8-d8d9-304b-89b0-bf084b74c20d",
          "instanceIdentifier" : "2a70242b-0190-1000-f648-2f0560044fd8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "32699c2b-a7be-36fd-a41b-c031bf8a3abe",
            "id" : "da12f12e-7da0-35db-a8ae-f5efe4606067",
            "instanceIdentifier" : "2a572267-0190-1000-ecac-8130b574f4cc",
            "name" : "CSV_File_In",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "32699c2b-a7be-36fd-a41b-c031bf8a3abe",
            "id" : "5fe254d9-a3cf-3845-991e-f39ef2f58c3f",
            "instanceIdentifier" : "7288e73e-0190-1000-23e2-2309114ec72b",
            "name" : "PutSlack",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "32699c2b-a7be-36fd-a41b-c031bf8a3abe",
          "identifier" : "15b137d1-eb8b-34db-94e8-172c2f4b19bc",
          "instanceIdentifier" : "72891298-0190-1000-7082-9c85f654e9b6",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "32699c2b-a7be-36fd-a41b-c031bf8a3abe",
            "id" : "baf09cfa-9bb0-3d13-a545-8e8ebf17f707",
            "instanceIdentifier" : "2a6f5c34-0190-1000-30f6-7fcecd77060d",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "32699c2b-a7be-36fd-a41b-c031bf8a3abe",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "32699c2b-a7be-36fd-a41b-c031bf8a3abe",
          "identifier" : "da12f12e-7da0-35db-a8ae-f5efe4606067",
          "instanceIdentifier" : "2a572267-0190-1000-ecac-8130b574f4cc",
          "name" : "CSV_File_In",
          "position" : {
            "x" : 456.0,
            "y" : 248.0
          },
          "scheduledState" : "ENABLED",
          "type" : "INPUT_PORT"
        } ],
        "instanceIdentifier" : "2a56ad79-0190-1000-90e8-224c1508fdd7",
        "labels" : [ ],
        "name" : "Write_CSV_File",
        "outputPorts" : [ ],
        "position" : {
          "x" : -216.0,
          "y" : -312.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32699c2b-a7be-36fd-a41b-c031bf8a3abe",
          "identifier" : "baf09cfa-9bb0-3d13-a545-8e8ebf17f707",
          "instanceIdentifier" : "2a6f5c34-0190-1000-30f6-7fcecd77060d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 952.0,
            "y" : 200.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "/home/mattelks/peoplepipeline/",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-slack-nar",
            "group" : "org.apache.nifi",
            "version" : "1.25.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "32699c2b-a7be-36fd-a41b-c031bf8a3abe",
          "identifier" : "5fe254d9-a3cf-3845-991e-f39ef2f58c3f",
          "instanceIdentifier" : "7288e73e-0190-1000-23e2-2309114ec72b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutSlack",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1504.0,
            "y" : 200.0
          },
          "properties" : {
            "icon-emoji" : ":white_check_mark:",
            "webhook-text" : "CSV file ${filename} has been successfully created at ${now():format('yyyy-MM-dd HH:mm:ss')}.",
            "username" : "Nifi-alert-success"
          },
          "propertyDescriptors" : {
            "icon-emoji" : {
              "displayName" : "Icon Emoji",
              "identifiesControllerService" : false,
              "name" : "icon-emoji",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "webhook-url" : {
              "displayName" : "Webhook URL",
              "identifiesControllerService" : false,
              "name" : "webhook-url",
              "sensitive" : true
            },
            "webhook-text" : {
              "displayName" : "Webhook Text",
              "identifiesControllerService" : false,
              "name" : "webhook-text",
              "sensitive" : false
            },
            "channel" : {
              "displayName" : "Channel",
              "identifiesControllerService" : false,
              "name" : "channel",
              "sensitive" : false
            },
            "icon-url" : {
              "displayName" : "Icon URL",
              "identifiesControllerService" : false,
              "name" : "icon-url",
              "sensitive" : false
            },
            "username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "username",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.slack.PutSlack",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}